.footer {
  background-color: var(--background);
    color: var(--foreground);
  padding: 1rem;
  margin-top: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer p {
  text-align: center;
  font-size: 0.875rem; /* 14px */
  font-family: var(--font-sans);
}